*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */

}
body{
    background-image: url("../img/white-concrete-wall.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-section{


   background-image: url("../img/cold-press-juice-scaled.png");
background-repeat: no-repeat;
background-size: cover;
background-position: top;
position: relative;
}

.hero-section::before{
    content:"";
    background-color: rgba(30, 30, 30,0.4);
    display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
   
}

.hero{
   
    padding: 220px 0;
    position: relative;
    
overflow: hidden;
    
}
ul{
    margin-left: 20px;
}

.lang{
    display: flex;
    align-items: center;
    padding-right: 110px;
    justify-content: center;
}
.items{
    display: flex;
    align-items: center;
    justify-content: center;
}

.items a{
    padding: 5px;
}
.lang_img{
    width: 15px;
    height: 15px;
}
#langDropdown{
    color: #ffffff;
}
.text-container{
    position: absolute;
right: 80%;
    padding: 111px 108px 219px 160px;
    background-color: rgba(0, 107, 49,0.42);
    border-radius: 50%;
    

}
.hero h2{
    font-size: 31px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Anek Malayalam";
z-index: 2;
width: 121px;
line-height: 1.5;
}

.navbar-light .navbar-nav .nav-link{
    font-size: 19px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Anek Malayalam";
margin-right: 20px;
border-radius: 30px;
padding: 5px 10px 5px 10px;
}

ul .nav-link:hover {
    color: #006b31 !important;
    background-color: #ebe049;
    transition: all 0.3s;
}

.navbar-brand{
    padding-left: 70px;}

    #about-container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: start;
       
        margin:50px 0 50px 0 !important ;
    }
    .title{
        display: flex;
        align-items: center;
        width: 150px;
        justify-content: space-around;


    }
    .pullet{
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #4ea43f;  
      }
      .line{
        width:0px;
        height: 12px;
        background-color: #ffffff;
        border: 0.35px solid #6d6d6d;
    }

    .home{
        margin: 0;
        font-size: 12px;
color: #393939;
font-weight: 300;
font-family: "Anek Malayalam";
text-align: left;
text-decoration: none;
    }

    .about{
        color: rgba(77,164,63);
        font-size: 12px;
line-height: 25px;
font-weight: 300;
font-family: "Anek Malayalam";
text-align: left;
    }

    .main-section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    .pics{
        display: flex;
        flex-direction: column;
min-height: 300px;
min-width: 500px;
       position: relative;
       margin-top: 30px;
       margin-left: 10px;
    }
    .pics img{
        margin-bottom: 20px;
    }

    .first {
        top: 0;
        left: 0;
        z-index: 2; 
        border-radius: 16px;
        width: 300px;
        height: 250px;
        position: absolute;
        background-image: url("../img/square.png");
background-size: cover;
background-position:center;
    }
    .about-section {
        display: flex;
flex-direction: column;
align-items: start;
margin-top: 50px;

}
      .second {
        top: 70px;
        left: 150px;
        border-radius: 16px;
        position: absolute;
        width: 300px;
        height: 200px;
background-image: url("../img/lemon.png");
background-size: cover;
      }

      .about-title{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        
      }
      .about-title img{
        width:30px;
        height: 20px;
        margin-right: 10px;
      }
      .about-title h2{
        font-size: 20px;
color: #50a83e;
font-weight: 600;
font-family: "Anek Malayalam";
margin: 0;
height: 30px;      }
     .about-section p{
font-size: 14px;
max-width: 600px;
color: #6a6a6a;
font-weight: 300;
font-family: "Anek Malayalam";
text-align: left;

     }

     #big-container{
        background-image: url("../img/lemon-background.png");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 100px;

     }

     
     .sec-title{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
     }
.sec{
    border-radius: 16px;
background-color: #ffffff;
max-width: 45%;
display: flex;
flex-direction: column;
align-items: start;
justify-content: center;
padding: 70px 30px;
background-image:url("../img/splash.png");
background-position: center  ;
background-size: cover;

}
.sec-title h2{
    font-size: 20px;
color: #50a83e;
font-weight: 600;
font-family: "Anek Malayalam";
margin: 0;
line-height: 1.5;
margin-left: 10px;

}
.sec p{

font-size: 14px;
color: #6a6a6a;
font-weight: 300;
font-family: "Anek Malayalam";
text-align: left;
}
.core-values{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../img/core-background.png");
    padding: 100px 50px;
}
#export{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background-image: url("../img/values-export.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 50px 50px 0;
    flex-wrap: wrap-reverse;
}

.left{
    background-color: #ffffff;
    padding: 100px;
    max-width: 50%;
    margin-right: 50px;
}
.left h2{
    font-size: 20px;
color: #50a83e;
font-weight: 600;
font-family: "Anek Malayalam";
}

.left p{
font-size: 14px;
color: #6a6a6a;
font-weight: 300;
font-family: "Anek Malayalam";
text-align: left;

}
.right{
    background-image: url("../img/export.png");
    width: 542px;
    height: 234px;
    border-radius: 16px;
    filter: drop-shadow(0 0 1.5px rgba(35,35,35,0.2));}


    #quality{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
      
        padding: 50px 0 50px 50px;
        flex-wrap: wrap;
    }
    
    .quality-right{
        background-color: #ffffff;
        padding: 100px;
        max-width: 50%;
        margin-left: 50px;
    }
    .quality-right h2{
        font-size: 20px;
    color: #50a83e;
    font-weight: 600;
    font-family: "Anek Malayalam";
    }
    
    .quality-right p{
    font-size: 14px;
    color: #6a6a6a;
    font-weight: 300;
    font-family: "Anek Malayalam";
    text-align: left;
    
    }
    .quality-left{
        background-image: url("../img/cold-press-juice-scaled\ \(1\).png");
        background-position: bottom;
        width: 542px;
        height: 234px;
        border-radius: 16px;
        filter: drop-shadow(0 0 1.5px rgba(35,35,35,0.2));}


        .footer{
            background-color: #003f28;   
        padding: 20px 0;
        height: 60%;
        }
    
            .footer h5{
                font-size: 25px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Anek Malayalam";
    line-height: 1.5;
            }
    
            .footer a{
                text-decoration: none;
                font-size: 14px;
    line-height: 25px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Anek Malayalam";
    margin-right: 40px;
            }
            .footer p{
                max-width: 400px;
                font-size: 14px;
                color: #ffffff;
                font-weight: 400;
                font-family: "Anek Malayalam";
                text-align: left;
                margin-bottom: 20px;
    
            }
           
    
    .list-unstyled{
                margin: 0;
                margin-top: 65px;
                height: 150px;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
    
            }
    
            .footer img{
                margin-bottom: 30px;
            }
            .line-footer{
                background-color: #ffffff;
                width: 45px;
    height: 5px;
    border-radius: 10px;
            }

            .footer .col-md-2{
                margin-top:20px;
                
            }

            .circle{
                border-radius: 50%;
                border: 0.7px solid #a0a0a0;
                display: flex;
                align-items: center;
                                                flex-direction: column;
                padding: 100px 100px;
                overflow: visible;
                position: relative;
            }

            .circle ul {
                position: absolute;
                list-style-type: none;
                
            }
           
            .circle p{
                display: inline;
                font-size: 18px;
line-height: 36px;
color: #4f4f4f;
font-weight: 500;
font-family: "Anek Malayalam";
            }
            .core-l{
                left:-100%;
                bottom: 10%;
                margin: 0;
            }
            .core-r{
                left: 100%;
width: 65%;
                bottom: 10%;
                margin:0;
            }
            .circle ul li{
                margin-bottom: 51px;
            }

            .circle .core-l li:nth-child(1){
     
     margin-left: 126px;
     margin-bottom: 28px;
            }
            .circle .core-l li:nth-child(2){
     
                margin-left: 363px;
                       }
            .circle .core-l li:nth-child(3){
                margin-left: 307px;
            }

            .circle .core-l li:nth-child(4){
                margin-left: 361px;
                margin-bottom: -21px;
            }
            .circle .core-r li:nth-child(1){
     
                margin-left: -94px;
                margin-bottom: 28px;
            }
            .circle .core-r li:nth-child(2){
                margin-left: -36px;
            }
            .circle .core-r li:nth-child(3){
                margin-left: -36px;
            }

            .circle .core-r li:nth-child(4){
                margin-left: -108px;
                margin-bottom: -21px;
            }
            .core-l img{
margin-left: 50px;
}
.circle .core-l li:nth-child(4) img{
margin-left: 130px;
}

.circle .core-l li:nth-child(1) img{
margin-left: 86px;
}

.circle .core-r li:nth-child(1) img{
    margin-right: 72px;
    }
    .circle .core-r li:nth-child(4) img{
        margin-right: 93px;
        }

.core-r img{
    margin-right: 20px;
}
.core-l img, .core-r img{
    border-radius: 50%;
    border: 0.7px solid #50a83e;
        background-color: #ffffff;
    padding: 13px 15px 13px 15px;
}

            @media (min-width: 767px) and (max-width:1360px) {
                .list-unstyled{
                    height: fit-content;
            }
            .list-unstyled li{
                margin-top: 5px;
            }
            .footer{
                height: fit-content;
            }
        
        }

        @media (max-width: 1400px) {
        
            .navbar-light .navbar-nav .nav-link{
font-size: 16px;   }

.lang_img{
    display: none;
}
#langDropdown{
    display: none;
}
.lang{
    padding: 0;
}
        }

        @media(min-width:990px) and (max-width:1060px){
            .navbar-light .navbar-nav .nav-link{
                font-size: 12px;   }
        }

        @media (max-width:1240px){
            .text-container{
right: auto;
margin-left: -100px;

            }
            #export{
                justify-content: center;
                align-items: center;
               }
               .left{
                margin: 0;
               }
            #quality{
                justify-content: center;
                align-items: center;
               }
               .quality-right{
                margin: 0;
               }

               .circle{
                border-radius: 0;
                display: flex;
                align-items: center;
                flex-direction: column;
                padding: 100px 0;
                flex-wrap: wrap;
border: none;
            }

            .circle ul{
                position: initial;
                display: flex;
                justify-content: space-around;
                width: 100%;
                flex-wrap: wrap;
            }
            
            .circle li{
                margin: 20px !important;
                
                display: flex;
                flex-direction: column;
                justify-content: end;
                align-items: center;
                text-align: center;
                padding: 20px;
                background-color: rgb(78, 164, 63);
                width: 210px;
                max-width: 250px;
                border-radius: 20px;
                height: 260px;

            }   
            .core-values-img {
                display: none;
            }
           .circle li img{
            margin: 0 !important;
           

           }
.circle li p{
    max-width: 250px;
    padding: 20px;
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
}
.circle h2{
    font-size: 22px;
}

.core-l li{
    transform: rotate(180deg);
}
.core-l li img, .core-l li p{
    transform: rotate(-180deg);
}
 .core-r li {
    justify-content: start;
    }
        }
        @media (max-width:990px){
            .main-section{
            flex-direction: column;
            align-items: center;
            }
           
        }

        @media (max-width:620px){
            .about-section {
max-width: 400px; 
           }
           #big-container{
            flex-direction: column;
            padding: 100px 20px 100px 20px;
           }
           .sec{
            max-width: 100%;
            margin-bottom: 20px;
           }
          
        }

        @media (max-width:555px){
            .about-section {
max-width: 300px; 
           }
          .pics{
            display: none;
          }
          .about-section {
            max-width: 400px;
          }
          .navbar-brand{
            padding-left: 0;
          }
          
        }

        @media (max-width:450px){
.left, .quality-right{
padding: 20px;
}
        }
        @media (max-width:820px){
          .right{
            display: none;
          }
          .left{
            max-width: 100%;
            
          }
          #export{
            padding-right: 0;
          }
          .quality-left{
            display: none;
          }
          .quality-right{
            max-width: 100%;
            
          }
          #quality{
            padding-left: 0;
          }
         
        }
       
       
           